body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  line-height: 22px;
  background-color: rgb(132, 157, 143);
}
.slider__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 60.35px;
}
h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
.container {
  box-sizing: border-box;
  width: 1200px;
  padding-top: 5px;
  padding-left: 2.3%;
  padding-bottom: 20px;
  padding-right: 2.3%;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
}
.logo {
  display: inline-block;
  vertical-align: middle;
}
.header-top::after{
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.main-nav{
  display: inline-block;
  vertical-align: middle;
  width: 950px;
}
.main-nav::after{
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.main-nav__list{
  float: left;
  display: inline-block;
  padding-left: 0;
  font-weight: bold;
  line-height: 18px;
}
.main-nav__item {
  display: inline;
  padding-right: 30px;
  list-style: none;
}
.main-nav__list--сatalog {
  position: absolute;
  top: 60px;
  display: none;
  width: 143px;
  padding-left: 0;
  list-style: none;
  background-color: #EE6;
}
.main-nav__link {
  color: #fff;
}
.nav__list {
  float: right;
  font-size: 14px;
  line-height: 16px;
}
.nav__item {
  display: inline;
  padding-left: 5px;
  list-style: none;
}
.search__link {
  display: inline-block;
  width: 17px;
  min-height: 17px;
  color: #fff;
  background-color: #EE6383;
}
.search {
  position: absolute;
  top: 60px;
  left: 65%;
  display: none;
  background-color: #EE6;
}
.login {
  position: absolute;
  top: 60px;
  left: 60%;
  display: none;
  background-color: #EE6;
}
.login__link {
  color: #fff;
  text-decoration: none;
}
.basket__link {
  color: #fff;
  text-decoration: none;
}
.basket__block{
  position: absolute;
  top: 60px;
  left: 50%;
  display: none;
  background-color: #EE6;
}
.header-bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contacts__description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
}
.contacts__description--bold {
  margin-top: 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
}
.breadcrumbs__link{
  float: left;
}
.header::after {
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.main {
  margin: 0 auto;
}
.title {
  width: 382px;
  margin-top: 9px;
  margin-bottom: 30px;
}
.filter-part{
  width: 880px;
  margin-bottom: 40px;
}
.filter-part__block{
  margin-bottom: 18px;
}
.sort{
  float: left;
  margin-right: 16px;
}
.sort__description{
  margin-top: 0;
  margin-bottom: 0;
}
.price{
  float: left;
  margin-right: 16px;
}
.price__list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.price__item{
  display: inline-block;
}
.price__label--input{
  width: 40px;
}
.creamy {
  float: left;
  margin-right: 0;
}
.creamy__description{
  margin-top: 0;
  margin-bottom: 0;
}
.radiobtn__list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.radiobtn__item{
  display: inline-block;
}
.filter-part__block::after {
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.excipients{
  float: left;
}
.excipients__description{
  margin-top: 0;
  margin-bottom: 0;
}
.checkboxes__list{
  width: 700px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.checkboxes__item{
  display: inline-block;
}
.filter__button{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}
.slider{
  padding-bottom: 0;
  margin-bottom: 40px;
}
.slider__title{
  width: 670px;
  margin-top: 285px;
  margin-left: auto;
  margin-right: auto;
}
.slider__link{
  display: inline-block;
  width: 280px;
  margin-left: 355px;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  /*padding: 17px 0px 23px;
  border-radius: 100px; */
}
.slider__title--two,
.slider__title--three,
.slider__link--two,
.slider__link--three {
  display: none;
}
.radiobtn__list {
  float: left;
}
.radiobtn__item {
  display: inline;
  list-style: none;
}
.slider__link::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}
.lead__title{
  margin-top: 0;
}
.lead {
  box-sizing: border-box;
  float: left;
  width: 48%;
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 20px ;
  padding-right: 20px;
  font-size: 18px;
  line-height: 22px;
}
.lead:last-child {
  float: right;
  margin-right: 0;
}
.banner{
  margin-bottom: 40px;
}
.banner::after{
  content: "";
  clear: both;
  display: block;
  height: 0;
}
.hits {
  width: 100%;
  padding: 0;
  margin: 0;
}
.hits-row1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.hits-row2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.hits-row3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.hit {
  width: 22.2%;
}
.hit-last {
  margin-right: 0;
}
.hit__pic {
  width: 100%;
  border-radius: 50%;
}
.hits::after{
  content: "";
  clear: both;
  display: block;
  height: 0;
}
.hit-hover{
  display: none;
}
.content {
  padding: 30px 20px;
  margin-bottom: 40px;
  color: #000;
  }
.content__title{
  margin-top: 0;
  margin-bottom: 0;
}
.content__description{
  padding-bottom: 0;
  margin-bottom: 0;
}
.content-block-left {
  float: left;
  width: 46.6%;
}
.content-block-right {
  float: right;
  width: 46.6%;
}
.content::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}
.seo {
  margin-bottom: 40px;
}
.seo::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}
.pagination{
  margin-top: 15px;
  margin-bottom: 25px;
}
.pagination__list {
  display: inline-block;
  float: right;
  padding-left: 0;
  list-style: none;
}
.pagination__item{
  width: 28px;
  display: inline-block;
  margin-right: 1px;
}
.pagination::after{
  content: "";
  clear: both;
  display: block;
  height: 0;
}

.map{
  margin-bottom: 20px;
}
.map__pic{
  width: 100%;
  float: left;
}
.communication-form {
  float: right;
  box-sizing: border-box;
  width: 300px;
  padding-left: 23px;
  padding-top: 32px;
  padding-right: 25px;
  padding-bottom: 28px;
  margin-top: -364spx;
  margin-right: 27px;
  color: #000;
  background-color: #fff;
}
.map::after{
  content: "";
  display: block;
  clear: both;
  height: 0;
}
.input {
  position: absolute;
  top:338px;
  left: 50%;
  display: none;
  box-sizing: border-box;
  width: 478px;
  padding-right: 24px;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 24px;
  margin-left: -238px;
  background-color: #EE6;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__list{
  display: flex;
  justify-content: space-between;
  width: 185px;
  padding-left: 0;
  list-style: none;
}
.social__item {
  width: 40px;
  min-height: 40px;
  background-color: #EE6383;
}
.about-us{
  display: flex;
  justify-content: space-between;
  width: 326px;
  font-size: 12px;
  line-height: 16px;
}
.copyright {
  width: 190px;
  font-size: 12px;
  line-height: 16px;
  }
